.product-screen-container {
  margin-top: 40px;
  .product-screen-image-container {
    display: flex;
    align-items: center;
    .product-image {
      transition: transform 0.175s linear;
      width: 100%;
      border: 1px solid #dfe6e9;
      border-radius: 5px;
      box-shadow: 0px 5px 15px 0px lightgrey;
      transition: transform 0.2s ease-out;
    }
    .product-image:hover {
      transform: translateY(-4px);
    }
  }
  .product-screen-details-container {
    .product-screen-name {
      text-transform: none;
      text-align: center;
      margin-bottom: 20px;
    }
    .product-screen-description {
      margin-bottom: 20px;
    }
    .product-details-left-col {
      .product-ratings,
      .price {
        margin: 5px;
      }
    }
    .product-details-right-col {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 5px;
      .product-availability {
        text-align: center;
        margin: 5px 0;
      }
      .btn-cart {
        width: 100%;
      }
    }
  }
  .home-link-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }
}
.btn-animated {
  position: relative;
  border: 1px solid #1a1a1a;
  padding: 0.5rem 1.25rem;
}
.btn-animated:focus,
.btn-animated:active {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: none !important;
  color: white;
}
.btn-animated::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #1a1a1a;
  transition: width 0.3s ease-in-out;
  z-index: -1;
}
.btn-animated:hover::after {
  width: 100%;
}
.btn-animated:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #1a1a1a;
}

.btn-animated-2 {
  position: relative;
  border: 1px solid #1a1a1a;
  padding: 0.5rem 1.25rem;
  transition: all 0.5s ease;
}
.btn-animated-2:hover {
  color: white;
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
}
// .btn-animated:focus,
// .btn-animated:active {
//   background-color: #1a1a1a !important;
//   border-color: #1a1a1a !important;
//   box-shadow: none !important;
//   color: white;
// }
// .btn-animated::after {
//   position: absolute;
//   content: '';
//   top: 0;
//   left: 0;
//   width: 0;
//   height: 100%;
//   background-color: #1a1a1a;
//   transition: width 0.3s ease-in-out;
//   z-index: -1;
// }
// .btn-animated:hover::after {
//   width: 100%;
// }
// .btn-animated:hover {
//   background-color: transparent;
//   color: white;
//   border: 1px solid #1a1a1a;
// }
